*{
    margin: 0%;
    padding: 0%;
}

.mai{
    width: 100%;
    height: 700px;
    background-image: url('https://wallpapercosmos.com/w/middle-retina/d/3/3/23897-1920x1080-desktop-1080p-bill-gates-background-image.jpg');
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-color: brown;
    
    
}

nav{
    /* background-color:rgba(241, 231, 231, 0.097) ; */
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
   
    
 
}
nav a{
    text-decoration: none;
    /* text-align: center; */
    /* margin: 30px; */
    color: rgba(235, 226, 226, 0.802);
    padding-left: 70px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav a:hover {
    text-decoration: underline rgb(5, 5, 249) 3px;
    
  }



#home{

    position: absolute;
    left: 670px;
    

}

nav img{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;

}
#bill{
    color: aliceblue;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#hed{
    color: antiquewhite;
    position: absolute;
    top: 250px;
    right: 700px;
}
h3{
    color: aliceblue;
    position: absolute;
    top: 370px;
    right: 800px;
}

#work{

    /* background-color: blueviolet; */
    position: absolute;
    top: 720px;
    right: 40px;
    margin: 20px;
    

}

.sec{
    width: 800px;
    height: 50px;
    /* background-color: rgb(42, 67, 165); */
    position: absolute;
    top: 750px;
    margin: 20px;


}

p{
    font-size:18px;
    
}

.gal{
    width: 100%;
    height: 400px;
    background-color: rgba(143, 140, 140, 0.375);
    position: absolute;
    top: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.galcol{
    width: 500px;
    height: 300px;
    /* background-color: blueviolet; */
    margin: 20px;
}

.vid{
    width: 100%;
    height: 400px;
    background-color: rgba(175, 105, 105, 0.433);
    position: absolute;
    top: 1550px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.footer{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1950px;
    background-color: rgba(86, 86, 89, 0.429);
    
}

#map{
    margin: 20px;
    position: absolute;
    left: 700px;
     border-radius: 10px;
    /* border-color: rgba(163, 157, 157, 0.137);  */
    /* box-shadow: 1px 1px 2px 2px rgba(53, 51, 51, 0.456); */
    

}

#ft{
    position: absolute;
    top: 130px;
    left: 250px;
    font-style: italic;
    font-family: cursive;
    color: rgba(34, 45, 53, 0.671)

}